__pycache__/
*.pyc
*.pyo
*.pyd
airflow/backup_dags
data
logs
k8/airflow/optional/values-dev-copy.yml
k8/airflow/optional/default-values.yml
k8/airflow/optional/default-values-not-all.yml
airflow/dags/spark/sparkapplicationCleaningUsingeHelmTemplate.yml
k8/spark/spark-valuesForHelmTemplate.yml
StravaAPIDetails.yml
fitness-analytics
*.log
strava_module_old
.env